###### Requirements without Version Specifiers ######`
pandas
matplotlib
scipy
numpy
numba
sympy
seaborn
statsmodels
linearmodels
lmdiag
see
wooldridge
gapminder
## -e git+git@github.com:spring-haru/py4etrics.git#egg=py4etrics-0.1.4


###### Requirements with Version Specifiers ######`
jupyter-book >= 0.7.0       # Version Matching. Must be version 0.6.1
